body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header {
    width: 100%;
    padding: 15px;
    background-color: #282829;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#headericon {
    vertical-align: middle; /* Keeps the icon aligned with the text */
    height: 24px; /* Set to match the text size initially */
    width: auto; /* Maintain the aspect ratio */
    margin-right: 5px; /* Spacing between the icon and the text */
    margin-bottom: 4px; /* Adjust if needed to align vertically */
    transform: scale(1.6); /* Enlarge the icon without affecting layout */
    transform-origin: center center; /* Ensure scaling is centered */
    border-radius: 50%; /* Makes the icon round */
    object-fit: cover; /* Ensures the image covers the space without distortion */
}

.box {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1 1 300px;
    min-width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}
.box h2 {
    margin-top: 1%;
}

.box1 {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px hsla(0, 92%, 59%, 1);
    flex: 1 1 300px;
    min-width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    border: 1px solid hsl(0, 92%, 59%);
}
.box1 h2 {
    margin-top: 0%;
}

.box2 {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1 1 300px;
    min-width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}
.box2 h2 {
    margin-top: 1%;
}

.box3 {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1 1 300px;
    min-width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}
.box3 h2 {
    margin-top: 1%;
}

.box4 {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1 1 300px;
    min-width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}
.box4 h2 {
    margin-top: 1%;
}

.container-main-page {
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.download-btn{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #50fa7b;
    color: #282a36;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
    cursor: pointer;
    border: none;
}

.download-btn:hover{
    background-color: #35b158;
}

.info-detail{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #46bbd8;
    color: #282a36;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
    cursor: pointer;
    border: none;
}

.info-detail:hover{
    background-color: #8ad6e7;
}

.ip-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; /* Centers the button and IP box */
    gap: 10px;
    margin-top: 15px;
}

.ip-box {
    background-color: #282a36;
    padding: 10px 15px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    border: 1px solid #ccc;
}

.copy-btn {
    display: inline-block;
    margin-top: px;
    padding: 10px 20px;
    background-color: #4bc8e7;
    color: #282a36;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
    cursor: pointer;
    border: none;
}
.copy-btn:hover {
    background-color: #52dafc;
}

.copy-btn.clicked {
    background-color: #ffffff;
}

/* Popup Message */
.popup-message {
    position: fixed;
    bottom: -60px; /* Initially hidden below the screen */
    left: 50%;
    transform: translateX(-50%);
    background-color: #2c7a8d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0; /* Hidden by default */
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

/* Slide-in animation */
.popup-message.show {
    bottom: 20px; /* Slide in from the bottom */
    opacity: 1;  /* Make it visible */
}

.update-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Ensures content is stacked vertically */
    gap: 10px;
    margin-top: 15px;
}

.changes-container {
    background-color: #383838;
    padding: 20px 15px; /* Increased padding for better spacing inside */
    border-radius: 8px;
    text-align: left; /* Align text to the left for better readability */
    font-weight: bold;
    white-space: normal;
    word-wrap: break-word;
    max-width: 100%;
    box-sizing: border-box;
    line-height: 1.6; /* Adjust line height for spacing between lines */
    text-align: center;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.5);
}

.changes-container p {
    margin-bottom: 10px; /* Adds space between paragraphs */
}

.build-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Ensures content is stacked vertically */
    gap: 10px;
    margin-top: 15px;
}

.build-container-text {
    background-color: #383838;
    padding: 20px 15px; /* Increased padding for better spacing inside */
    border-radius: 8px;
    text-align: left; /* Align text to the left for better readability */
    font-weight: bold;
    white-space: normal;
    word-wrap: break-word;
    max-width: 100%;
    box-sizing: border-box;
    line-height: 1.6; /* Adjust line height for spacing between lines */
    text-align: center;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.5);
}

.build-container-text p {
    margin-bottom: 10px; /* Adds space between paragraphs */
}


/*pop up

/* Style the overlay */
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.3s ease, visibility 0s linear 0.3s; /* Fade in/out effect */
    transform: scale(1.2); /* Start with the overlay smaller */
}

@media (max-width: 768px) {
    #popup-overlay {
        transform: scale(1.0); /* Adjust size for smaller screens */
        left: 0;
    }
}

/* The content inside the popup */
.popup-content {
    background: #e6e6e6;
    padding: 25px;
    text-align: center;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0; /* Start content as invisible */
    transform: scale(0.95); /* Start slightly scaled down */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}

.popup-content h5 {
    color: black;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px; /* Spacing between title and description */
}

.popup-content p {
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    font-size: 16px;
}

.popup-content button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.popup-content button:hover {
    background-color: #45a049;
}

/* When the popup is shown */
#popup-overlay.show {
    opacity: 1;
    visibility: visible; /* Make the overlay visible */
    transition: opacity 0.5s ease, visibility 0s linear 0s; /* Fix delay in overlay */
}

#popup-overlay.show .popup-content {
    opacity: 1; /* Make content visible */
    transform: scale(1); /* Scale content to normal size */
}



